*{
	margin: 0;
	padding: 0;
}
.regtop{
	width: 1000px;
	height: 75px;
	margin: 0 auto;
	
}
.regmain{
	width:600px;
	height: 1000px;
	margin: 0 auto;
	background-color: #c4e1ff;
	
	padding:50px 200px 0; 
	
	font-family: "微软雅黑";
}
img.logo{
	float: left;
	border: none;
	width: 150px;
	height: 60px;
}
.topic{
	font-size: 25px;
	font-weight: normal;
	font-family: "微软雅黑";
	color: #333;
	float: left;
	line-height: 90px;
	margin-left: 20px;
	display: inline-block;
	vertical-align: bottom;
}
.right{
	float: right;
	line-height: 90px;
}
button{
	width: 70px;
	height: 30px;
	margin-right: 30px;
	margin-left: 10px;
	border: none;
	background-color: #eef;
	border-radius: 2px;
	border: 1px solid #aaa;
	cursor: pointer;
	
}
button a{
	text-decoration: none;
	color: black;
}
form{

}
.write{
	width: 280px;
	height: 40px;
	margin-bottom: 30px;

}
p.fen{
	margin: 30px 0;
	font-family: "微软雅黑";
	font-size: 25px;
	font-weight: bold;
	font-style: italic;
	color: red;
}
select{
	margin-bottom: 30px;
	width: 100px;
	height: 40px;
	font-size: 16px;

}
.fav{
	margin-bottom: 30px;
}
.desc{
	vertical-align: top;
	padding: 5px;
	font-size: 16px;
}
.sub{
	width: 280px;
	height: 40px;
	background-color: blue;
	margin-top: 40px ;
	margin-left: 100px;

}
span {
	padding-left:10px; 
}