body, h1, h2, button, p {
	margin: 0;
	padding: 0;
	font: normal normal 16px "微软雅黑";
}

h1 {
	font: normal normal 32px "微软雅黑";
	line-height: 80px;
}

h2 {
	font: normal normal 20px "微软雅黑";
	line-height: 60px;
}

button {
	margin: 10px;
	color: #00f;
	border: 1px solid #00f;
	padding: 10px 30px;
	border-radius: 6px;
	background: transparent;
	cursor: pointer;
	outline: none;
}

button:hover {
	color: #fff;
	background: #00f;
}

button:active {
	border-color: #f00;
	background: #f00;
}

p {
	border: 1px solid #0f0;
	height: 28px;
	margin: 10px;
	font: normal normal 20px "微软雅黑";
}

.wrap {
	width: 400px;
	margin: 0 auto;
	text-align: center;
}

.main {
	border: 1px solid #f00;
	background: orange;
}

.user-select, .computer-select, .result {
	border: 1px solid #f00;
	margin: 20px;
	padding: 0 20px;
	background: white;
}